:root {
    --livingCoral: #FF6F61;
    --gray: #212529;
    --lightGray: #f0f0f0;
}

html {
    color: var(--gray);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border-box = The width and height properties (and min/max properties) includes content, padding and border */
    box-sizing: border-box; 
    padding: 1.3rem;

}

/* Each item in our grid will contain numbers */
.item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 2rem;
    background-color: var(--lightGray); 
  }
  